/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
*/
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}